.sheet.party [data-tab=aftermath] .activities-members .actor-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.sheet.party [data-tab=aftermath] .activities-members .member .sub-data {
    display: flex;
    flex-direction: row;
    background-color: rgba(68, 55, 48, 0.1);
    font-size: var(--font-size-11);
    font-weight: 500;
}

.sheet.party [data-tab=aftermath] .activities-members .member .sub-data > span {
    flex: 1;
    text-align: center;
    padding: 0.2rem;
}

.sheet.party [data-tab=aftermath] .activities-members .member .sub-data > span:not(:last-child) {
    border-right: 1px solid rgba(68, 55, 48, 0.1);
}

.sheet.party [data-tab=aftermath] .activities-members .member footer.health-bar {
    background-color: var(--sub);
    color: var(--text-light);
}

.sheet.party [data-tab=aftermath] .activities-members .member footer.health-bar .bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--primary);
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.sheet.party [data-tab=aftermath] .activities-members .member footer.health-bar span {
    position: relative;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .time footer.time-bar {
    background-color: var(--sub);
    color: var(--text-light);
    font-size: var(--font-size-12);
    width: 100%;
    padding: 2px 4px;
    position: relative;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .time footer.time-bar .bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary);
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .time footer.time-bar .bar.complete {
    background-color: hsl(152, 87%, 15%);
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .time footer.time-bar span {
    position: relative;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .run-actions button:hover:disabled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: rgb(102, 102, 102);
}

.sheet.party [data-tab=aftermath] .content {
    padding: 0.5rem;
}

.sheet.party [data-tab=aftermath] .activities {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sheet.party [data-tab=aftermath] .activities .member-activity {
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: url("../../../systems/pf2e/assets/sheet/frame-elegant.svg");
    border-image-width: 14px;
    border-style: double;
    display: flex;
    align-items: center;
}

.sheet.party [data-tab=aftermath] .activities .member-activity img {
    object-fit: contain;
    border: none;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .actor-image {
    flex: 0 0 auto;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .actor-image img {
    width: 4rem;
    height: 4rem;
    margin: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .actor-image img i {
    color: var(--text-dark);
    font-size: var(--font-size-30);
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    overflow: hidden;
    flex: 1;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity {
    align-items: center;
    display: flex;
    gap: 0 0.5rem;
    white-space: nowrap;
    padding: 0.25rem;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity:not(:last-child) {
    border-bottom: 1px solid #C0C0C0;
}
.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .activity-name {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .name {
    font-weight: 500;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .icon img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.375rem;
    object-fit: contain;
    border: none;
    filter: drop-shadow(2px 2px 2px #000);
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .tags {
    flex-wrap: nowrap;
    overflow: hidden;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity.single {
    align-items: start;
    flex-direction: row;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity.single .name {
    font-size: var(--font-size-16);
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .time {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .time select {
    width: 100%;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .time .time-options {
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    padding: 4px 6px;
    width: 100%;
}
.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .run-actions {
    padding: 0px 12px;
    flex: 0 0 85px;
    align-self: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .empty {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: var(--serif);
    gap: 0.5rem;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .empty div {
    margin: 0;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .empty .icon {
    border: 1px dashed var(--color-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-14);
    height: 2.125rem;
    width: 2.125rem;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .empty .name {
    color: var(--primary-dark);
    font-size: var(--font-size-16);
    line-height: 1em;
}

.sheet.party [data-tab=aftermath] .activities .member-activity .hint {
    color: var(--alt-dark);
    line-height: 1em;
}

.sheet.party [data-tab=aftermath] [data-action="clear-stats"] {
    text-align: right;
}

.sheet.party [data-tab=aftermath] .activities .previous-activites {
    flex: 1;
    text-align: center;
}

.sheet.party [data-tab=aftermath] .activities .previous-activity {
    align-items: center;
    margin: 0px 4px;
    cursor: pointer;
    max-width: 30px;
}

.sheet.party [data-tab=aftermath] .activities .previous-activity img {
    width: 1.7rem;
    height: 1.7rem;
    object-fit: contain;
    border: none;
    filter: drop-shadow(2px 2px 2px #000);
}

.sheet.party [data-tab=aftermath] .activities .previous-activity:hover {
    filter: drop-shadow(0 0 4px var(--color-shadow-primary));
}
