<div class="monks-pf2e-encounter-aftermath">
    <div class="message-content" style="margin:5px 0px;">
        <hr />
        <div class="flexrow" style="width: 100%; align-items: center; margin-bottom: 8px;">
            <div>{{localize 'MonksPF2eEncounterAftermath.CombatTook'}} {{timeMsg}}</div>
            <button type="button" style="flex: 0 0 30px;" class="gm-only" data-action="advance-time"><i class="fas fa-clock"></i> </button>
        </div>
        <hr />
        <h3>{{localize 'MonksPF2eEncounterAftermath.JoinThePartySheet'}}</h3>
        <button type="button" data-action="join-party-sheet"><i class="fas fa-users"></i> {{localize 'MonksPF2eEncounterAftermath.JoinPartySheet'}}</button>
    </div>
</div>